# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\复杂系统动力学\projects\Kinematics Python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
